".source.js .meta.jsx.js:not(.meta.embedded.expression)":
  editor:
    commentStart: "{/*"
    commentEnd: "*/}"
".source.js:not(.string:not(.comment))":
  editor:
    increaseIndentPattern: '''
      (?x)
          ^\\s*<[^/>]+>$
        | ^\\s*<[^/>\\s]+$
    '''
    decreaseIndentPattern: '''
      (?x)
          ^\\s*</[^>]+>$
        | ^\\s*/>$
    '''
".source.js":
  editor:
    increaseIndentPattern: '''
      (?x)
        (if|elif|else|try|catch|for)[^\\n]*:$
        | [\\w_$]*\\([^\\n]*\\)(?:\\:\\s+[^\\n]+)?\\s+[-=](?:get|set|\\/|\\*)?>$
        | {[^}\\"']*$
        | \\[[^\\]\\"']*$
        | \\([^)\\"']*$
        | <[a-zA-Z][^/]*$
        | ^\\s*>$
    '''
    decreaseIndentPattern: '''
      (?x)
        ^\\s*(\\s*/[*].*[*]/\\s*)*[}\\])]
        | ^\\s*(</|/>)
    '''
